
#eliona
git+https://support:xEqdhsQqZYAwWXCafAps@gitlab.leicom.ch/pm/eliona-api-handler.git#egg=eliona-modules

#Excel Import
pandas
openpyxl

#PDF generator 
reportlab==3.6.11

#Scheduling
schedule==1.1.0



#Validation checks
jsonschema==4.16.0
email-validator==1.3.0